@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #eef0f3;
}
::-webkit-scrollbar-thumb {
  background: #c3c9d4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

body {
  @apply bg-panel3 text-gray-800;
}